.grid-container {
    display: grid;
    grid-template-columns: [col] 100px [col] 100px [col] 100px [col] 100px  ;
    grid-template-rows: [row] auto [row] auto [row] ;    
    gap: 12px;
    background-color: white;
    padding: 10px;
    align-content: center;

  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px ;
    font-size: 30px;
    background-color: yellow;

  }
  
  .grid-item1
  {
    grid-column: col;
    grid-row:row;
  }
  .grid-item2
  {
    grid-column: col 4 ;
    grid-row:row;
  }
  .grid-item3
  {
    grid-column: col ;
    grid-row: row 2 ;
  }
  .grid-item4
  {
    grid-column: col 2;
    grid-row:row 2;
  }
  .grid-item6
  {
    grid-column: col 3;
    grid-row: row 2;
  }
  .grid-item7
  {
    grid-column: 4;
    grid-row: row 2;
  }
  .grid-item8
  {
    grid-column: col 4;
    grid-row: row 3;
  }
  .grid-item5
  {
    grid-column: col ;
    grid-row:row 3;
  }
  .grid-item9
  {
    grid-column: 1;
    grid-row: row 4;
  }
  .grid-item10
  {
    grid-column: 4;
    grid-row: 4;
  }