header{
    border: 2px solid black;
    background: black;
    padding: 20px;
    margin: auto;
}
li{
    display: inline;
    
}
.connection
{
    float: right;
}
a{
    color: white;
    text-decoration: none;

}
.fa-solid
{
    color: white;
}
.login
{
    position: relative;
    right: 7px;
    
}
.fa-solid
{
    float:left;
}
.product{
    position: relative;
    right: 100px;
    float: right;
}
