table
{
    position: relative;
    top:100px;
    left: 300px;
    padding: 17px;
    float: left;
    /*background-color: blueviolet;*/
    background-color:rgb(248, 246, 246)
        
    
}

input{
    padding: 6px;
  
}
button
{
    width: 230px;
    background-color: blueviolet;

    height: 30px;
    color: white;
    font-weight: bold;
}
.fa-user-plus
{
    position: absolute;
    left: 80px;
    top:-190px;
   height: 400px;
   width: 300px;
   background-color: blueviolet;
   
   
}

.register
{
    border: 2px solid white;
    border-radius: 7px;
    border-width: 2px;
    padding: 7px;
    font-size: medium;
}
.fa-circle-right
{
    position: relative;
    left: 4px;
}
.fa-brands
{
    margin: 5px;
}
.contenant {
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    left: 545px;
    top:300px;
    color: white;
    
 }
  
  .texte_centrer {
    position: absolute;
    top: 50%;
    left: 230px;
    transform: translate(-50%, -50%);
  }
  .text{
      font-size: small;
      position:absolute;
      left: 230;
  }
